* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
    position: static;
}
body.modal-open {
    position: fixed;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
a {
    color: inherit;
}
a {
    text-decoration: none;
    color: #333;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
img {
    border: none;
    display: block;
}
ol,ul {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
.container {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
}

#sec-main {
    height: 470px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#sec-tomorrow {
    background: #fff;
    height: 103px;
    padding-top: 26px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
    position: relative;
}
#sec-hours {
    height: 136px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10px;
    padding-top: 30px;
}
#ct-scroll::webkit-scrollbar {
   height: 1px;
}
#ct-scroll::webkit-scrollbar-button {
    display: none;
}
#sec-hours #ct-scroll {
    width: 740%;
}
#sec-hours #ls-hours-weather {
    width: 100%;
}
#sec-days {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    height: 391px;
    padding-top: 25px;
    margin-bottom: 10px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
#sec-living {
    overflow-x: auto;
    overflow-y: hidden;
}
#sec-main #txt-location {
    height: 16px;
    line-height: 16px;
    width: 76%;
    margin: 18px 12% 6px;
    font-size: 16px;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}
#sec-main #txt-location #icon-location{
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px;
    background-size: 100%;
    background-image: url("location.png");
}
#sec-main #txt-temperature {
    font-size: 62px;
    color: #fff;
    line-height: 62px;
    height: 62px;
    margin-top: 66px;
    position: relative;
}
#sec-main #txt-weather {
    font-size: 22px;
    color: #fff;
    line-height: 22px;
    height: 22px;
    margin-top: 8px;
}
#sec-main #txt-tips {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    height: 16px;
    margin: 50px 60px 0;
    position: relative;
    z-index: 2;
}
#sec-main .ct-aqi {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
    height: 44px;
    padding: 8px 12px;
    position: absolute;
    border-radius: 8px;
    top: 67px;
    left: 8px;
    background: #f0cc35;
    z-index: 2;
}
#sec-main #txt-temperature:after {
    content: "\B0";
    position: absolute;
    text-align: left;
    top: 0;
}
#sec-main .ct-aqi #til {
    opacity: .8;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    height: 12px;
    margin-bottom: 3px;
}
#sec-main .ct-aqi #value {
    margin-top: 2px;
    font-size: 12px;
    color: #fff;
    height: 14px;
    line-height: 14px;
}
.ct-pop-window .ct-window {
    border-radius: 8px;
    background: #fff;
    padding-bottom: 20px;
    position: fixed;
    width: 250px;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    z-index: 1000;
    visibility: hidden;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    opacity: 0;
    -webkit-transition: all .3s ease 50ms;
    transition: all .3s ease 50ms;
}
.ct-pop-window.show .ct-window {
    visibility: visible;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    margin-top: -5%;
}
.ct-pop-window.hide .ct-window {
    visibility: hidden;
}
#ct-air-pop {
    padding-bottom: 5px;
}
.ct-pop-window.show .bg-cover {
    display: block;
}
.ct-pop-window .bg-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .43);
    z-index: 999;
    display: none;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.ct-pop-window.hide .bg-cover {
    display: none;
}
#ct-air-pop #ct-main {
    background-color: #80d2e5;
    background-image:url("aqi.png");
}
#ct-air-pop #ct-main {
    height: 250px;
    width: 250px;
    background-size: 250px auto;
    background-position-y: 190px;
    background-repeat: no-repeat;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-top: 50px;
}
#ct-air-pop #ct-main #icon-close {
    position: absolute;
    background-image: url("icon-close.svg");
    height: 20px;
    width: 20px;
    top: 11px;
    right: 11px;
}
#ct-air-pop #ct-main #titl {
    font-size: 14px;
    color: #fff;
    line-height: 14px;
}
#ct-air-pop #ct-main #val {
    font-size: 60px;
    color: #fff;
    line-height: 60px;
    margin: 15px 0 20px;
}
#ct-air-pop #ct-main #level {
    background-color: #f0cc35;
}
#ct-air-pop #ct-main #level {
    border-radius: 6px;
    height: 24px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 0 14px;
}
#ct-air-pop #detail {
    height: 112px;
    margin-top: 5px;
    width: 100%;
}
#ct-air-pop #detail td {
    width: 33.333%;
}
#ct-air-pop #detail tr:first-child:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background: #e4e4e4;
    top: auto;
    bottom: 61px;
}
#ct-air-pop #detail .val {
    font-size: 14px;
    color: #434343;
    line-height: 14px;
    margin-bottom: 5px;
}
#ct-air-pop #detail .titl {
    font-size: 11px;
    color: #b2b2b2;
    line-height: 11px;
}
#ct-air-pop #detail td:nth-child(2):after,
#ct-air-pop #detail td:nth-child(2):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    background: #e4e4e4;
}
#ct-air-pop #detail td:nth-child(2) {
    position: relative;
}
#ct-air-pop #detail td:nth-child(2):after {
    right: 0;
}
#ct-air-pop #detail td:nth-child(2):before {
    left: 0;
}
#sec-tomorrow .item {
    float: left;
    width: 50%;
    height: 52px;
    font-size: 14px;
    color: #434343;
    line-height: 14px;
    padding: 0 20px;
}
#sec-tomorrow .item .top {
    height: 12px;
    margin-bottom: 13px;
}
#sec-tomorrow .item .top .date {
    float: left;
}
#sec-tomorrow .item .top .temperature {
    float: right;
}
#sec-tomorrow .item .bottom {
    height: 22px;
}
#sec-tomorrow .item .bottom .weather {
    float: left;
    height: 22px;
    line-height: 22px;
}
#sec-tomorrow .item .bottom .logo {
    float: right;
    height: 22px;
    width: 22px;
}
#sec-tomorrow:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 52px;
    background-color: #f0f0f0;
    left: 50%;
    top: 26px;
}
#sec-hours #ls-hours-weather .item {
    float: left;
    width: 2.083%;
    text-align: center;
    position: relative;
}
#sec-hours #ls-hours-weather .item .txt-time {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: #999;
}
#sec-hours #ls-hours-weather .item .icon {
    height: 24px;
    width: 24px;
    display: block;
    margin: 15px auto;
}
#sec-hours #ls-hours-weather .item .txt-degree,
#sec-hours #ls-hours-weather .item .txt-key {
    font-size: 14px;
    color: #434343;
    line-height: 14px;
    height: 14px;
    position: relative;
}
#sec-hours #ls-hours-weather .item .txt-degree:after {
    content: "\B0";
    position: absolute;
    text-align: left;
    top: 0;
}
#sec-living:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
#sec-living #living-scroll #ls-living:first-child {
    border-left: 1px solid #e4e4e4;
}
#sec-living #living-scroll #ls-living .item {
    background-color: #fff;
    float: left;
    text-align: center;
    width: 12.5%;
    height: 96px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}
#sec-living #living-scroll #ls-living .item .icon {
    height: 24px;
    width: 24px;
    display: block;
    margin: 15px auto 10px;
    background-size: 24px;
}
#sec-living #living-scroll #ls-living .item .content {
    font-size: 14px;
    color: #434343;
    line-height: 14px;
    height: 14px;
    margin-bottom: 6px;
}
#sec-living #living-scroll #ls-living .item .title,
#sec-living #living-scroll #ls-living .item .title_wurankuosan {
    color: #999;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
}
.ct-pop-window {
    text-align: center;
}
.ct-pop-window .ct-window .title {
    height: 58px;
    line-height: 58px;
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ct-pop-window .ct-window .txt-info {
    font-size: 14px;
    color: #434343;
    line-height: 22px;
    padding: 27px 20px 20px;
    text-align: left;
}
.ct-pop-window .ct-window .btn-close {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    border: none;
}
#sec-days #ls-days .item {
    float: left;
    text-align: center;
}
#sec-days #ls-days .item:first-child .date,
#sec-days #ls-days .item:first-child .day,
#sec-days #ls-days .item:first-child .weather,
#sec-days #ls-days .item:first-child .wind {
    color: #b2b2b2;
}
#sec-days #ls-days .item .date,
#sec-days #ls-days .item .day {
    font-size: 12px;
    color: #999;
    line-height: 12px;
    height: 12px;
}
#sec-days #ls-days .item .date {
    margin: 5px 0 15px;
}
#sec-days #ls-days .item .ct-daytime .weather {
    margin-bottom: 14px;
}
#sec-days #ls-days .item .weather {
    font-size: 14px;
    color: #434343;
    line-height: 14px;
    height: 14px;
}
#sec-days #ls-days .item:first-child .icon {
    opacity: .5;
}
#sec-days #ls-days .item .icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}
#sec-days #ls-days .item .ct-night {
    margin-top: 136px;
}
#sec-days #ls-days .item .wind {
    font-size: 12px;
    color: #b2b2b2;
    line-height: 12px;
    height: 12px;
    width: 40px;
    margin: 0 auto 6px;
    overflow: hidden;
}
#sec-days #ls-days:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
#sec-days #ls-days .item .ct-night .weather {
    margin: 16px 0 20px;
}
#sec-main #ct-wind-humidity {
    margin-top: 10px;
    height: 14px;
    position: relative;
}
#sec-main #ct-wind-humidity .txt.show {
    animation-name: wind-show;
    -webkit-animation-name: wind-show;
}
@keyframes wind-show{
    0% {
        transform: translate3d(0, 14px, 0);
        opacity: 0;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes wind-hide{
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, -14px, 0);
        opacity: 0;
    }
}
#sec-main #ct-wind-humidity .txt {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-name: wind-hide;
    -webkit-animation-name: wind-hide;
}
#sec-days #ct-chart-days {
    position: absolute;
    left: 23px;
    height: 150px;
    top: 121px;
}
